:root {
  --color-primary: #acc3c3;
  --color-secondary: #f0ddd3;
  --color-accent: #d59d84;
  --color-primary-dark: #767d91;
  --color-white: #fff;
  --color-black: #000;
  --font-primary: "proxima-nova", sans-serif;
  --font-secondary: "proxima-nova-condensed", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--color-black);
  font-style: normal;
}

h2 {
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--color-primary);
  font-style: normal;
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-purple);
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: var(--font-primary);
  color: var(--color-white);
  font-style: normal;
  font-weight: bold;
}

h5 {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-style: normal;
  font-weight: normal;
}

h6 {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-style: normal;
  font-weight: normal;
}

ul {
  font-family: var(--font-secondary);
  color: var(--color-purple);
  font-style: normal;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

ol{
  font-family: var(--font-secondary);
  color: var(--color-accent);
  font-style: normal;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

dl {
  font-family: var(--font-secondary);
  color: var(--color-accent);
  font-style: normal;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-black);
  font-style: normal;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}

blockquote, q {
  font-family: var(--font-primary);
  color: var(--color-accent);
  font-style: italic;
  font-weight: 400;
}

cite {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-style: italic;
  font-weight: normal;
}

em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-style: normal;
  font-weight: 400;
}
