.btn {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn-ghost:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-light {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-black);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .5));
}

.btn-light:hover {
  background: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  color: var(--color-white);
}
