.btn {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-black);
}

.btn:hover {
  background: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary-dark);
}

.btn-ghost:hover {
  color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
}
