<nav class="stroke fill">
  <div class="grid grid-middle pad-t-1-2 pad-b-1-2">

    <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3 nav-logo">
      <p class="tena logo push-0">Skinful</p>
    </div>

    <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3 nav-div">
      <ul class="nav-links push-0">

        <li class="link" {% if page.highlight_nav == 'home'%}current{% endif %}><a href="/">Home</a></li>
        <li class="link" {% if page.highlight_nav == 'about'%}current{% endif %}><a href="#about">About</a></li>
        <li class="link" {% if page.highlight_nav == 'shop'%}current{% endif %}><a href="/products/">Shop</a></li>

      </ul>
    </div>

    <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3 nav-icons">
      <a href="#search"><i class="icon i-24"><svg><use xlink:href="/images/icons.svg#search"></use></svg></i></a>
      <a href="#bag"><i class="icon i-24 bag"><svg><use xlink:href="/images/icons.svg#bag"></use></svg></i></a>
      <a href="#profile"><i class="icon i-24"><svg><use xlink:href="/images/icons.svg#profile"></use></svg></i></a>
    </div>

  </div>
</nav>
